
@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["UserId"] != null)
{
    @ViewBag.cateid
    if (ViewBag.cateid == 1)
    {
        <h4>Hello @Session["UserName"].ToString() Employer</h4>
    }
}


